body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.in{
  position: relative;
  z-index: 99;

  padding: 0.1% 2% 0.1% 0.1%;

  /*font-family: "Roboto", sans-serif;*/
  font-size: 1rem;
  text-align: right;
  background: rgba(255, 255, 255, 0.445);
  cursor: pointer;

}

/* This help me to control the vr mode button */
.a-enter-vr-button {
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20245.82%20141.73%22%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill%3A%23fff%3Bfill-rule%3Aevenodd%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Emask%3C%2Ftitle%3E%3Cpath%20class%3D%22a%22%20d%3D%22M175.56%2C111.37c-22.52%2C0-40.77-18.84-40.77-42.07S153%2C27.24%2C175.56%2C27.24s40.77%2C18.84%2C40.77%2C42.07S198.08%2C111.37%2C175.56%2C111.37ZM26.84%2C69.31c0-23.23%2C18.25-42.07%2C40.77-42.07s40.77%2C18.84%2C40.77%2C42.07-18.26%2C42.07-40.77%2C42.07S26.84%2C92.54%2C26.84%2C69.31ZM27.27%2C0C11.54%2C0%2C0%2C12.34%2C0%2C28.58V110.9c0%2C16.24%2C11.54%2C30.83%2C27.27%2C30.83H99.57c2.17%2C0%2C4.19-1.83%2C5.4-3.7L116.47%2C118a8%2C8%2C0%2C0%2C1%2C12.52-.18l11.51%2C20.34c1.2%2C1.86%2C3.22%2C3.61%2C5.39%2C3.61h72.29c15.74%2C0%2C27.63-14.6%2C27.63-30.83V28.58C245.82%2C12.34%2C233.93%2C0%2C218.19%2C0H27.27Z%22%2F%3E%3C%2Fsvg%3E) 50% 50%/70% 70% no-repeat rgba(0,0,0,.35);
  border: 0;
  bottom: 0;
  cursor: pointer;
  display: none;
  min-width: 50px;
  min-height: 30px;
  padding-right: 5%;
  padding-top: 4%;
  position: relative;
  right: 0;
  margin: 50px 100px 0 0;
  transition: background-color .05s ease;
  -webkit-transition: background-color .05s ease;
  z-index: 9999;
}

.a-orientation-modal {
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2090%2090%22%20enable-background%3D%22new%200%200%2090%2090%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20points%3D%220%2C0%200%2C0%200%2C0%20%22%3E%3C/polygon%3E%3Cg%3E%3Cpath%20d%3D%22M71.545%2C48.145h-31.98V20.743c0-2.627-2.138-4.765-4.765-4.765H18.456c-2.628%2C0-4.767%2C2.138-4.767%2C4.765v42.789%20%20%20c0%2C2.628%2C2.138%2C4.766%2C4.767%2C4.766h5.535v0.959c0%2C2.628%2C2.138%2C4.765%2C4.766%2C4.765h42.788c2.628%2C0%2C4.766-2.137%2C4.766-4.765V52.914%20%20%20C76.311%2C50.284%2C74.173%2C48.145%2C71.545%2C48.145z%20M18.455%2C16.935h16.344c2.1%2C0%2C3.808%2C1.708%2C3.808%2C3.808v27.401H37.25V22.636%20%20%20c0-0.264-0.215-0.478-0.479-0.478H16.482c-0.264%2C0-0.479%2C0.214-0.479%2C0.478v36.585c0%2C0.264%2C0.215%2C0.478%2C0.479%2C0.478h7.507v7.644%20%20%20h-5.534c-2.101%2C0-3.81-1.709-3.81-3.81V20.743C14.645%2C18.643%2C16.354%2C16.935%2C18.455%2C16.935z%20M16.96%2C23.116h19.331v25.031h-7.535%20%20%20c-2.628%2C0-4.766%2C2.139-4.766%2C4.768v5.828h-7.03V23.116z%20M71.545%2C73.064H28.757c-2.101%2C0-3.81-1.708-3.81-3.808V52.914%20%20%20c0-2.102%2C1.709-3.812%2C3.81-3.812h42.788c2.1%2C0%2C3.809%2C1.71%2C3.809%2C3.812v16.343C75.354%2C71.356%2C73.645%2C73.064%2C71.545%2C73.064z%22%3E%3C/path%3E%3Cpath%20d%3D%22M28.919%2C58.424c-1.466%2C0-2.659%2C1.193-2.659%2C2.66c0%2C1.466%2C1.193%2C2.658%2C2.659%2C2.658c1.468%2C0%2C2.662-1.192%2C2.662-2.658%20%20%20C31.581%2C59.617%2C30.387%2C58.424%2C28.919%2C58.424z%20M28.919%2C62.786c-0.939%2C0-1.703-0.764-1.703-1.702c0-0.939%2C0.764-1.704%2C1.703-1.704%20%20%20c0.94%2C0%2C1.705%2C0.765%2C1.705%2C1.704C30.623%2C62.022%2C29.858%2C62.786%2C28.919%2C62.786z%22%3E%3C/path%3E%3Cpath%20d%3D%22M69.654%2C50.461H33.069c-0.264%2C0-0.479%2C0.215-0.479%2C0.479v20.288c0%2C0.264%2C0.215%2C0.478%2C0.479%2C0.478h36.585%20%20%20c0.263%2C0%2C0.477-0.214%2C0.477-0.478V50.939C70.131%2C50.676%2C69.917%2C50.461%2C69.654%2C50.461z%20M69.174%2C51.417V70.75H33.548V51.417H69.174z%22%3E%3C/path%3E%3Cpath%20d%3D%22M45.201%2C30.296c6.651%2C0%2C12.233%2C5.351%2C12.551%2C11.977l-3.033-2.638c-0.193-0.165-0.507-0.142-0.675%2C0.048%20%20%20c-0.174%2C0.198-0.153%2C0.501%2C0.045%2C0.676l3.883%2C3.375c0.09%2C0.075%2C0.198%2C0.115%2C0.312%2C0.115c0.141%2C0%2C0.273-0.061%2C0.362-0.166%20%20%20l3.371-3.877c0.173-0.2%2C0.151-0.502-0.047-0.675c-0.194-0.166-0.508-0.144-0.676%2C0.048l-2.592%2C2.979%20%20%20c-0.18-3.417-1.629-6.605-4.099-9.001c-2.538-2.461-5.877-3.817-9.404-3.817c-0.264%2C0-0.479%2C0.215-0.479%2C0.479%20%20%20C44.72%2C30.083%2C44.936%2C30.296%2C45.201%2C30.296z%22%3E%3C/path%3E%3C/g%3E%3C/svg%3E) center/50% 50% no-repeat rgba(244,244,244,1);
  bottom: 0;
  font-size: 14px;
  font-weight: 600;
  left: 0;
  line-height: 20px;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 9999999;
}

.a-dialog-allow-button {
  background-color: rgb(122, 61, 141);
}

.a-dialog-deny-button {
  background-color: rgb(57, 175, 150);
}

.a-dialog-ok-button {
   background-color: rgb(216, 123, 47);
 }

.fact-text {
  position: relative;
  z-index: 99;

  padding: 0.1% 2% 0.1% 0.1%;
  margin: 10px 20px;

  /*font-family: "Roboto", sans-serif;*/
  font-size: 1rem;
  text-align: right;
  /* background: rgba(255, 255, 255, 0.445); */
  cursor: pointer;
}

/*==============================================================================
 General Styles
==============================================================================*/
h1,
div,
.boo {
        position: relative;
        float: right;
        /* width: calc(100% - 50px); */
        width: 300px;
        text-align: center;
        /* margin: 20px 0 0 0; */
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        /* color: #333; */
        /* background-color: aqua; */
}

/*--------------------------------------
 Animation Magic, animations won't occur
 on IE9 and before and Opera Mini
--------------------------------------*/
*,
*:before,
*:after {
        -webkit-transition: all 0.8s;
        transition: all 0.8s;
        box-sizing: border-box;
}

/*==============================================================================
 The burger icon with it's animation. Uses the checked property of a checkbox
 in order to make the animation happen as well as control the next elements
 I've used classes because of the + css selector, which will only ever animate
 the next label element. Does not work on IE8 or below and opera mini since
 they don't support the :checked selector.
==============================================================================*/
.burger-check {
  display: none;
}

/*--------------------------------------
Sets the actionable area for the burger
including a label for usability
--------------------------------------*/
.burger {
  position: relative;
  float: right;
  margin-left: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.burger:after {
/* This is where was the menu */
  /* content: 'Menu'; */
  position: absolute;
  bottom: 7px;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  /* background-color: bisque; */
}

/*--------------------------------------
Creates the look of the burger icon
using the inner span and pseudo-elements
--------------------------------------*/
.burger span,
.burger span:before,
.burger span:after {
  position: absolute;
  left: 10px;
  top: 22px;
  width: 40px;
  height: 4px;
  background: #333;
  border-radius: 0.2em;
}

/* Reset the left and create the pseudo-element */
.burger span:before,
.burger span:after {
  content: '';
  left: 0;
}

/* Top bar position */
.burger span:before {
  top: -8px;
}

/* Bottom bar position */
.burger span:after {
  top: 8px;
}

/* Get rid of more on action (IE9 or higher) */
.burger-check:checked + .burger:after {
  content: '';
}
/* Get rid of the middle bar on action (IE9 or higher) */

.burger-check:checked + .burger span {
  height: 0;
  width: 0;
}

/* Moves the top and bottom bars to the middle on action (IE9 or higher) */
.burger-check:checked + .burger span:before,
.burger-check:checked + .burger span:after {
  top: 6px;
}

/* Rotates the top bar on action with full browser support (IE9 or higher) */
.burger-check:checked + .burger span:before {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* Rotates the bottom bar on action with full browser support (IE9 or higher) */
.burger-check:checked + .burger span:after {
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(-225deg);
}

/*==============================================================================
 Simple reveal (IE9 or higher)
==============================================================================*/
span.boo {
  width: auto;
  margin-top: 0;
  line-height: 60px;
  height: 0;
  overflow: hidden;
}

/* Reveals Boo! (IE9 or higher) */
#main-nav-test:checked ~ .boo {
  height: 50px;
}

/*==============================================================================
Simple mobile menu opening and closing (IE9 or higher)
==============================================================================*/
.a-header {
  position: relative;
  float: left;
  /* width: calc(100% - 0px); */
  margin: 10px 0 0 0 ;
  min-height: 50px;
  /* background: #eee; */
  overflow: hidden;
}

.a-header ul {
  position: relative;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 10px;
  /* background-color: rgba(194, 152, 96, 0); */
  border-radius: 5px;
  overflow: hidden;
}

/* .a-header ul:hover{
  background-color: rgba(185, 127, 51, 0.795);
} */


/* The animation code */
@keyframes example {
  from {background: red;}
  to {background: yellow;}
}

.a-header ul a {
  position: relative;
  float: left;
  width: 100%;
  height: 0;
  line-height: 50px;
  padding: 0 15px;
  text-decoration: none;
  overflow: hidden;
  color: rgb(51, 47, 47);
  text-align: center;
  margin: 5px 0;
  border-radius: 10px;
  background-color: rgb(245, 215, 215);
  transition: 1s;
  right: 0;
  top: 0;
}

.a-header ul a:active{
  text-decoration: none;
  background: rgb(36, 127, 139);
  border-bottom-color: #08c;
}

.a-header ul a:hover{
  text-decoration: none;
  background: rgb(92, 197, 211);
  border-bottom-color: #08c;
  right: 10px;
  top: -3px;
  /* animation-timing-function: ease;
  animation-name: example;
  animation-duration: 4s; */

}

/* .a-header ul a:visited {
  text-decoration: none;
  background: rgb(116, 132, 134);
  border-bottom-color: #08c;
} */


.a-header ul a:focus {
  text-decoration: none;
  background: rgb(92, 197, 211);
  border-bottom-color: #08c;
  right: 10px;
  top: -3px;
}

/* Animate height of 'a' element in order to reveal the menu on check (IE9 or higher) */
#main-nav:checked ~ ul a {
  height: 50px;
}

.div a-scene a-image :hover {
  cursor: pointer;
}